.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-wrapper {
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .modal-content {
    margin-top: 10px;
    /* Add more styling for your content as needed */
  }
  